

<!DOCTYPE html>
<html lang="en">
	<head >
	    <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
<META HTTP-EQUIV="Expires" CONTENT="-1">
	<link href="https://fonts.googleapis.com/css?family=Oswald:500" rel="stylesheet">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="style.css" rel="stylesheet">

  <style>

      body {
  background-color: #C3A57F;
}

h1 {
  color:white;
  font-family: oswald;
}
input {
  font-family: oswald;
  margin-left: 5px;
}

input[type=text] {
  font-family: Courier;
  resize: both;
}

textarea {
    resize:both;
}
  </style>

	</head>
	<body>

<form action="/" method="POST" autocomplete="off">
	<h1>Paste HTML:</h1>
	<input type="text" name="html">


		<div>
		<h1>Brand:</h1>
		<select name="brand" required="required">
			<option value="cat">Cat</option><option value="hp">HP</option><option value="keds">Keds</option><option value="sperry">Sperry</option><option value="merrell">Merrell</option>
			<option value="chaco">Chaco</option><option value="wolverine">Wolverine</option><option value="hdf">HDF</option><option value="Bates">Bates</option><option value="chaco">Chaco</option><option value="ols">OLS</option>
		</select>
		</div>

	<h1>Number of Links</h1>
	<input type="text" name="numlinks" required="required"><br/>

<h1>Links:</h1>

		<input class="linkname" type="text" name="linkname1" placeholder="Link Name"><input type="text" name="linkurl1" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname2" placeholder="Link Name"><input type="text" name="linkurl2" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname3" placeholder="Link Name"><input type="text" name="linkurl3" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname4" placeholder="Link Name"><input type="text" name="linkurl4" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname5" placeholder="Link Name"><input type="text" name="linkurl5" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname6" placeholder="Link Name"><input type="text" name="linkurl6" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname7" placeholder="Link Name"><input type="text" name="linkurl7" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname8" placeholder="Link Name"><input type="text" name="linkurl8" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname9" placeholder="Link Name"><input type="text" name="linkurl9" placeholder="URL"><br/>
		<input class="linkname" type="text" name="linkname10" placeholder="Link Name"><input type="text" name="linkurl10" placeholder="URL"><br/><input style="margin:10px;border:none;background-color:white;padding:5px;" type="submit">
		</form>

</body>
</html>
